
/* used to hide when not being used */
.hide{
    display:none;
}

/* styling for pg title */
.page-title {
    color: whitesmoke;
    background-color: #082e68;
    margin: auto;
    width: 100%;
    font-size: 4.5rem;
    text-align: center;
}

/* styling for subtitles "finished!' and "leader board" */
.sub-title{
    color: cornflowerblue;
    margin: auto;
    width: 50%;
    font-size: 3.5rem;
    text-align: center;
    padding: 2rem;
}
/* styling for the information line: high scores and time */
.info-line {
    width: 100%;
    padding-inline: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #082e68;
    color: cornflowerblue;
}
.time-box{
    display: flex;
    justify-content: space-around;
}
/* styling for the intro box */
.introBox{
    padding: 2rem;
}
ul{
    padding: 0;
    list-style: none;
}
/* styling for the "BEGIN" button */
.beginBtn {
    display:flex;
    margin: auto;
    justify-content:center;
  }
/* styling for the question box */
.display-box{
    text-align: center;
    padding: 3rem;
    font-size: larger;
}
